<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="general.css" />
  <link rel="stylesheet" href="navbar.css" />
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="footer.css" />
  <link rel="stylesheet" href="media-query.css" />
  <link
    rel="icon"
    href="book-stack.png"
    type="image/x-icon"
  />
  <title>Simple Library</title>
</head>
