<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../CSS-Files/general.css" />
  <link rel="stylesheet" href="../CSS-Files/navbar.css" />
  <link rel="stylesheet" href="../CSS-Files/main.css" />
  <link rel="stylesheet" href="../CSS-Files/footer.css" />
  <link rel="stylesheet" href="../CSS-Files/media-query.css" />
  <link rel="icon" href="../Image-Files/book-stack.png" type="image/x-icon" />
  <title>Simple Library</title>
</head>