<nav>
  <ul class="navigation">
    <li><a href="/students" class="pad">Students</a></li>
    <li><a href="/librarians" class="pad">Librarians</a></li>
    <li><a href="/books" class="pad">Books</a></li>
  </ul>
</nav>
