<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/head.ejs') %>
  <body>
    <%- include('./Partials/navigation.ejs') %>

    <main>
      <h1 class="title">Adding New Librarians</h1>
      <form class="form">
        <label class="label" for="libfname">First Name</label>
        <input
          class="input librarian-fname"
          type="text"
          name="libfname"
          placeholder="Enter your first name"
        />

        <label class="label" for="liblname">Last Name</label>
        <input
          class="input librarian-lname"
          type="text"
          name="liblname"
          placeholder="Enter your last name"
        />

        <div class="button-container">
          <button type="button" class="button see-button">See Librarian</button>
          <button type="button" class="button submit-button">Submit</button>
        </div>
      </form>
    </main>

    <footer>
      <div class="inside-footer">
        <nav class="see-records">
          <ul class="ul-records">
            <li>First Name</li>
            <li>Last Name</li>
            <li>Edit</li>
            <li>Delete</li>
          </ul>
        </nav>
        <div class="records-container">
          <!-- <% if (librarians.length != 0) { %> <% librarians.forEach(librarian => { %>
          <div class="records">
            <p><%= librarian.fName %></p>
            <p><%= librarian.lName %></p>
            <button class="update">Update</button>
            <button class="delete">Delete</button>
          </div>
          <% }) %> <% } else {%>
          <p>There is nothing Here!</p>
          <% } %> -->
        </div>
      </div>
    </footer>
    <button class="button reset-button">Reset</button>
    <script src="ibrarian-records.js"></script>
  </body>
</html>
