<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS-Files/general.css" />
    <link rel="stylesheet" href="../CSS-Files/navbar.css" />
    <link rel="stylesheet" href="../CSS-Files/main.css" />
    <link rel="stylesheet" href="../CSS-Files/footer.css" />
    <link rel="stylesheet" href="../CSS-Files/media-query.css" />
    <link rel="icon" href="../Image-Files/book-stack.png" type="image/x-icon" />
    <title>Simple Library</title>
  </head>
  <body>
    <nav>
      <ul class="navigation">
        <li><a href="/students" class="pad">Students</a></li>
        <li><a href="/librarians" class="librarians-link">Librarians</a></li>
        <li><a href="/books" class="pad">Books</a></li>
      </ul>
    </nav>

    <main>
      <h1 class="title">Adding New Students</h1>
      <form class="form">
        <label class="label" for="firstname">First Name</label>
        <input
          class="input student-fname"
          type="text"
          name="fname"
          placeholder="Enter your first name"
        />

        <label class="label" for="lastname">Last Name</label>
        <input
          class="input student-lname"
          type="text"
          name="fname"
          placeholder="Enter your last name"
        />

        <div class="button-container">
          <button type="button" class="button see-button">See Students</button>
          <button type="button" class="button submit-button">Submit</button>
        </div>
      </form>
    </main>

    <footer>
      <div class="inside-footer">
        <nav class="see-records">
          <ul class="ul-records">
            <li>First Name</li>
            <li>Last Name</li>
            <li>Edit</li>
            <li>Delete</li>
          </ul>
        </nav>
        <div class="records-container">
          <% if (students.length != 0) { %> <% students.forEach(student => { %>
          <div class="records">
            <p><%= student.fName %></p>
            <p><%= student.lName %></p>
            <button class="update">Update</button>
            <button class="delete">Delete</button>
          </div>
          <% }) %> <% } else { %>
          <p>No Array is here!</p>
          <% } %>
        </div>
      </div>
    </footer>
    <button class="button reset-button">Reset</button>

    <!-- <script src="../JS-Files/students-records.js"></script> -->
  </body>
</html>
